.footer__column-left {
  /* display: flex;
  flex-direction: column;
  max-width: fit-content;
  gap: 13px; */
  display: grid;
  gap: 13px;
}

/* @media screen and (max-width: 1023px) {
  .footer__column-left {
    max-width: 100%;
    flex-direction: row;
    gap: 0px;
    justify-content: space-between;
    align-items: center;
  }
} */

@media screen and (max-width: 1023px) {
  .footer__column-left {
    grid-template-columns: 229px 1fr;
  }
}

@media screen and (max-width: 840px) {
  .footer__column-left {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 587px) {
  .footer__column-left{
    justify-items: center;

  }
}
