.reservation__card-link {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.5;
  color: #424f7b;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.reservation__card-link::after {
  content: url(../../../images/Arrow_Right.svg);
  line-height: 0;

}
